<h1 class="text-center my-3">Alterar Funcionário</h1>
<form action="/funcionarios/Alterar" method="post">
   <input type="hidden" name="idFuncionario" value="{{funcionario.idFuncionario}}" />
  <div class="row w-50 d-block m-auto g-3">
    <div class="col-12">
      <label class="form-label" for="nome">Nome:</label>
      <input class="form-control" type="text" name="nome" id="nome" value="{{funcionario.nome}}" placeholder="Digite o seu Nome" required />
    </div>
    <div class="col-12">
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" type="text" name="email" id="email" value={{funcionario.email}} placeholder="Digite o seu Email" required />
    </div>
    <div class="col-12">
      <label class="form-label" for="senha">Senha:</label>
      <div class="input-group mb-3">
        <input class="form-control" type="password" name="senha" id="senha" value={{funcionario.senha}} placeholder="Digite a sua senha" required />
        <div class="input-group-append">
          <span class="input-group-text">
            <i id="show_password" class="bi bi-sm bi-eye-slash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-4 me-auto">
      <button class="btn btn-dark my-3" type="submit">Alterar</button>
    </div>

  </div>
</form>