<h1>Seja bem-vindo!</h1><br>
<h3>Sistema de cadastro de Livros</h3>
<p class="fw-bold">
  <span class="spinner-grow spinner-grow-sm text-dark" aria-hidden="true"></span>
  Faça login para acessar todos os recursos.
</p>
<br>
<br>
<br>
<br>
<br>
<h4>Informações:</h4>
<p><em>O sistema consome recursos de uma API externa. Certifique-se de que esteja em execução.</em></p>
<p>
  <i class="bi bi-triangle-fill"></i>
  <a href="https://bookstore-api-chi.vercel.app/">Frontend: Aplicação na Vercel</a>
</p>
<p>
  <i class="bi bi-github"></i>
  <a  href="https://github.com/prpires66/bookstore-front">Frontend: Código no GitHub</a>
</p>
<p>
  <i class="bi bi-triangle-fill"></i>
  <a href="https://bookstore-api-chi.vercel.app/">Backend: API na Vercel</a>
</p>
<p>
  <i class="bi bi-github"></i>
  <a  href="https://github.com/prpires66/bookstore-api">Backend: Código no GitHub</a>
</p>
